In [30]:
import pandas as pd
from sqlalchemy import create_engine, text
import numpy as np
import sqlite3

In [2]:
df = pd.read_csv('Crime_Data_from_2020_to_Present_20241018.csv')

In [3]:
engine = create_engine('sqlite:///your_database.db')

In [4]:
#Checking the number of rows
num_rows = len(df)
print("Number of rows:", num_rows)

Number of rows: 986500

In [5]:
#Parsing the date strings
df['Date Occurred'] = pd.to_datetime(df['DATE OCC'], format='%m/%d/%Y %I:%M:%S %p')

In [6]:
#Checking the new datatype
print(df['Date Occurred'].dtype)

datetime64[ns]

In [7]:
#Checking the first ten rows
print(df[['DATE OCC', 'Date Occurred']].head(10))

                 DATE OCC Date Occurred
0  03/01/2020 12:00:00 AM    2020-03-01
1  02/08/2020 12:00:00 AM    2020-02-08
2  11/04/2020 12:00:00 AM    2020-11-04
3  03/10/2020 12:00:00 AM    2020-03-10
4  08/17/2020 12:00:00 AM    2020-08-17
5  12/01/2020 12:00:00 AM    2020-12-01
6  07/03/2020 12:00:00 AM    2020-07-03
7  05/12/2020 12:00:00 AM    2020-05-12
8  12/09/2020 12:00:00 AM    2020-12-09
9  12/31/2020 12:00:00 AM    2020-12-31

In [8]:
#Checking for null values
print(df['Date Occurred'].isnull().sum())

0

In [9]:
#Finding the most recent date in the dataset and the date one year before
most_recent_date = df['Date Occurred'].max()
date_one_year_before = most_recent_date - pd.DateOffset(years=1)

print("Most Recent Date:", most_recent_date)
print("Date One Year Before:", date_one_year_before)

Most Recent Date: 2024-10-14 00:00:00
Date One Year Before: 2023-10-14 00:00:00

In [10]:
#Filtering the dataframe to only data from the last year
start_of_year = pd.Timestamp('2023-10-14')
end_of_year = pd.Timestamp('2024-10-14')
recent_year_df = df[(df['Date Occurred'] >= start_of_year) & (df['Date Occurred'] <= end_of_year)]

In [11]:
#Checking the new number of rows
num_rows = len(recent_year_df)
print("Number of rows:", num_rows)

Number of rows: 159711

In [12]:
recent_year_df

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON,Date Occurred
644791,230618504,12/01/2023 12:00:00 AM,12/01/2023 12:00:00 AM,110,6,Hollywood,639,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,...,Adult Other,626.0,NaN,NaN,NaN,5400 RUSSELL AV,NaN,34.1042,-118.3072,2023-12-01
644792,242105761,02/13/2024 12:00:00 AM,12/17/2023 12:00:00 AM,730,21,Topanga,2149,1,210,ROBBERY,...,Adult Other,210.0,NaN,NaN,NaN,6600 QUARTZ AV,NaN,34.1917,-118.5641,2023-12-17
644793,230617683,11/10/2023 12:00:00 AM,11/08/2023 12:00:00 AM,800,6,Hollywood,663,2,662,"BUNCO, GRAND THEFT",...,Invest Cont,662.0,NaN,NaN,NaN,1200 SEWARD ST,NaN,34.0907,-118.3384,2023-11-08
644796,230514872,10/19/2023 12:00:00 AM,10/19/2023 12:00:00 AM,1520,5,Harbor,522,1,761,BRANDISH WEAPON,...,Adult Arrest,761.0,NaN,NaN,NaN,600 N NEPTUNE AV,NaN,33.7795,-118.2715,2023-10-19
644799,231225821,12/30/2023 12:00:00 AM,12/29/2023 12:00:00 AM,2200,12,77th Street,1251,1,510,VEHICLE - STOLEN,...,Invest Cont,510.0,NaN,NaN,NaN,7800 CRENSHAW BL,NaN,33.9691,-118.3309,2023-12-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
986495,242011172,08/20/2024 12:00:00 AM,08/17/2024 12:00:00 AM,2300,20,Olympic,2033,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",...,Invest Cont,341.0,NaN,NaN,NaN,3700 WILSHIRE BL,NaN,34.0617,-118.3066,2024-08-17
986496,240710284,07/24/2024 12:00:00 AM,07/23/2024 12:00:00 AM,1400,7,Wilshire,788,1,510,VEHICLE - STOLEN,...,Invest Cont,510.0,NaN,NaN,NaN,4000 W 23RD ST,NaN,34.0362,-118.3284,2024-07-23
986497,240104953,01/15/2024 12:00:00 AM,01/15/2024 12:00:00 AM,100,1,Central,101,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,Invest Cont,745.0,NaN,NaN,NaN,1300 W SUNSET BL,NaN,34.0685,-118.2460,2024-01-15
986498,240309674,04/24/2024 12:00:00 AM,04/24/2024 12:00:00 AM,1500,3,Southwest,358,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,Invest Cont,230.0,NaN,NaN,NaN,FLOWER ST,JEFFERSON BL,34.0215,-118.2868,2024-04-24
986499,240910892,08/13/2024 12:00:00 AM,08/12/2024 12:00:00 AM,2300,9,Van Nuys,914,1,510,VEHICLE - STOLEN,...,Invest Cont,510.0,NaN,NaN,NaN,6900 VESPER AV,NaN,34.1961,-118.4510,2024-08-12

In [13]:
#Writing the dataframe to SQLite
#recent_year_df.to_sql('LA_Crime', con=engine, if_exists='replace', index=False)

In [14]:
#Querying the SQLite database to verify the data
#with engine.connect() as connection:
    #result = connection.execute(text("SELECT * FROM LA_Crime LIMIT 5;"))
    #df_result = pd.DataFrame(result.fetchall(), columns=result.keys())

In [15]:
#Exporting the cleaned dataframe to a CSV
#recent_year_df.to_csv('output.csv')

In [16]:
#Checking all the crime codes in the dataset
unique_crime_codes = recent_year_df['Crm Cd'].unique()
print(unique_crime_codes)

[626 210 662 761 510 442 341 440 888 354 520 903 740 310 420 352 624 230
 330 940 648 745 236 438 331 901 900 930 668 220 434 480 110 860 627 753
 820 956 410 647 845 886 320 890 350 922 822 343 670 812 522 237 943 622
 946 625 121 910 850 664 932 623 813 902 439 760 755 433 649 661 122 437
 654 762 882 251 815 763 810 756 231 666 474 821 814 921 933 443 421 651
 920 351 250 441 954 487 928 235 806 944 353 450 347 470 949 653 942 951
 805 931 950 445 865 345 660 870 948 473 652 444 884 924 451 435 475 830
 926 471 453 452 880]

In [17]:
print(f"Number of unique crime codes: {len(unique_crime_codes)}")

Number of unique crime codes: 131

In [18]:
unique_crime_codes = recent_year_df[['Crm Cd', 'Crm Cd Desc']].drop_duplicates()

In [19]:
for index, row in unique_crime_codes.iterrows():
    print(f"Crm Cd: {row['Crm Cd']}, Crm Cd Desc: {row['Crm Cd Desc']}")

Crm Cd: 626, Crm Cd Desc: INTIMATE PARTNER - SIMPLE ASSAULT
Crm Cd: 210, Crm Cd Desc: ROBBERY
Crm Cd: 662, Crm Cd Desc: BUNCO, GRAND THEFT
Crm Cd: 761, Crm Cd Desc: BRANDISH WEAPON
Crm Cd: 510, Crm Cd Desc: VEHICLE - STOLEN
Crm Cd: 442, Crm Cd Desc: SHOPLIFTING - PETTY THEFT ($950 & UNDER)
Crm Cd: 341, Crm Cd Desc: THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LIVESTK,PROD
Crm Cd: 440, Crm Cd Desc: THEFT PLAIN - PETTY ($950 & UNDER)
Crm Cd: 888, Crm Cd Desc: TRESPASSING
Crm Cd: 354, Crm Cd Desc: THEFT OF IDENTITY
Crm Cd: 520, Crm Cd Desc: VEHICLE - ATTEMPT STOLEN
Crm Cd: 903, Crm Cd Desc: CONTEMPT OF COURT
Crm Cd: 740, Crm Cd Desc: VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)
Crm Cd: 310, Crm Cd Desc: BURGLARY
Crm Cd: 420, Crm Cd Desc: THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)
Crm Cd: 352, Crm Cd Desc: PICKPOCKET
Crm Cd: 624, Crm Cd Desc: BATTERY - SIMPLE ASSAULT
Crm Cd: 230, Crm Cd Desc: ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT
Crm Cd: 330, Crm Cd Desc: BURGLARY FROM VEHICLE
Crm Cd: 940, Crm Cd Desc: EXTORTION
Crm Cd: 648, Crm Cd Desc: ARSON
Crm Cd: 745, Crm Cd Desc: VANDALISM - MISDEAMEANOR ($399 OR UNDER)
Crm Cd: 236, Crm Cd Desc: INTIMATE PARTNER - AGGRAVATED ASSAULT
Crm Cd: 438, Crm Cd Desc: RECKLESS DRIVING
Crm Cd: 331, Crm Cd Desc: THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND OVER)
Crm Cd: 901, Crm Cd Desc: VIOLATION OF RESTRAINING ORDER
Crm Cd: 900, Crm Cd Desc: VIOLATION OF COURT ORDER
Crm Cd: 930, Crm Cd Desc: CRIMINAL THREATS - NO WEAPON DISPLAYED
Crm Cd: 668, Crm Cd Desc: EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)
Crm Cd: 220, Crm Cd Desc: ATTEMPTED ROBBERY
Crm Cd: 434, Crm Cd Desc: FALSE IMPRISONMENT
Crm Cd: 480, Crm Cd Desc: BIKE - STOLEN
Crm Cd: 110, Crm Cd Desc: CRIMINAL HOMICIDE
Crm Cd: 860, Crm Cd Desc: BATTERY WITH SEXUAL CONTACT
Crm Cd: 627, Crm Cd Desc: CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT
Crm Cd: 753, Crm Cd Desc: DISCHARGE FIREARMS/SHOTS FIRED
Crm Cd: 820, Crm Cd Desc: ORAL COPULATION
Crm Cd: 956, Crm Cd Desc: LETTERS, LEWD  -  TELEPHONE CALLS, LEWD
Crm Cd: 410, Crm Cd Desc: BURGLARY FROM VEHICLE, ATTEMPTED
Crm Cd: 647, Crm Cd Desc: THROWING OBJECT AT MOVING VEHICLE
Crm Cd: 845, Crm Cd Desc: SEX OFFENDER REGISTRANT OUT OF COMPLIANCE
Crm Cd: 886, Crm Cd Desc: DISTURBING THE PEACE
Crm Cd: 320, Crm Cd Desc: BURGLARY, ATTEMPTED
Crm Cd: 890, Crm Cd Desc: FAILURE TO YIELD
Crm Cd: 350, Crm Cd Desc: THEFT, PERSON
Crm Cd: 922, Crm Cd Desc: CHILD STEALING
Crm Cd: 822, Crm Cd Desc: HUMAN TRAFFICKING - COMMERCIAL SEX ACTS
Crm Cd: 343, Crm Cd Desc: SHOPLIFTING-GRAND THEFT ($950.01 & OVER)
Crm Cd: 670, Crm Cd Desc: EMBEZZLEMENT, PETTY THEFT ($950 & UNDER)
Crm Cd: 812, Crm Cd Desc: CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 YRS OLDER)
Crm Cd: 522, Crm Cd Desc: VEHICLE, STOLEN - OTHER (MOTORIZED SCOOTERS, BIKES, ETC)
Crm Cd: 237, Crm Cd Desc: CHILD NEGLECT (SEE 300 W.I.C.)
Crm Cd: 943, Crm Cd Desc: CRUELTY TO ANIMALS
Crm Cd: 622, Crm Cd Desc: BATTERY ON A FIREFIGHTER
Crm Cd: 946, Crm Cd Desc: OTHER MISCELLANEOUS CRIME
Crm Cd: 625, Crm Cd Desc: OTHER ASSAULT
Crm Cd: 121, Crm Cd Desc: RAPE, FORCIBLE
Crm Cd: 910, Crm Cd Desc: KIDNAPPING
Crm Cd: 850, Crm Cd Desc: INDECENT EXPOSURE
Crm Cd: 664, Crm Cd Desc: BUNCO, PETTY THEFT
Crm Cd: 932, Crm Cd Desc: PEEPING TOM
Crm Cd: 623, Crm Cd Desc: BATTERY POLICE (SIMPLE)
Crm Cd: 813, Crm Cd Desc: CHILD ANNOYING (17YRS & UNDER)
Crm Cd: 902, Crm Cd Desc: VIOLATION OF TEMPORARY RESTRAINING ORDER
Crm Cd: 439, Crm Cd Desc: FALSE POLICE REPORT
Crm Cd: 760, Crm Cd Desc: LEWD/LASCIVIOUS ACTS WITH CHILD
Crm Cd: 755, Crm Cd Desc: BOMB SCARE
Crm Cd: 433, Crm Cd Desc: DRIVING WITHOUT OWNER CONSENT (DWOC)
Crm Cd: 649, Crm Cd Desc: DOCUMENT FORGERY / STOLEN FELONY
Crm Cd: 661, Crm Cd Desc: UNAUTHORIZED COMPUTER ACCESS
Crm Cd: 122, Crm Cd Desc: RAPE, ATTEMPTED
Crm Cd: 437, Crm Cd Desc: RESISTING ARREST
Crm Cd: 654, Crm Cd Desc: CREDIT CARDS, FRAUD USE ($950 & UNDER
Crm Cd: 762, Crm Cd Desc: LEWD CONDUCT
Crm Cd: 882, Crm Cd Desc: INCITING A RIOT
Crm Cd: 251, Crm Cd Desc: SHOTS FIRED AT INHABITED DWELLING
Crm Cd: 815, Crm Cd Desc: SEXUAL PENETRATION W/FOREIGN OBJECT
Crm Cd: 763, Crm Cd Desc: STALKING
Crm Cd: 810, Crm Cd Desc: SEX,UNLAWFUL(INC MUTUAL CONSENT, PENETRATION W/ FRGN OBJ
Crm Cd: 756, Crm Cd Desc: WEAPONS POSSESSION/BOMBING
Crm Cd: 231, Crm Cd Desc: ASSAULT WITH DEADLY WEAPON ON POLICE OFFICER
Crm Cd: 666, Crm Cd Desc: BUNCO, ATTEMPT
Crm Cd: 474, Crm Cd Desc: THEFT, COIN MACHINE - PETTY ($950 & UNDER)
Crm Cd: 821, Crm Cd Desc: SODOMY/SEXUAL CONTACT B/W PENIS OF ONE PERS TO ANUS OTH
Crm Cd: 814, Crm Cd Desc: CHILD PORNOGRAPHY
Crm Cd: 921, Crm Cd Desc: HUMAN TRAFFICKING - INVOLUNTARY SERVITUDE
Crm Cd: 933, Crm Cd Desc: PROWLER
Crm Cd: 443, Crm Cd Desc: SHOPLIFTING - ATTEMPT
Crm Cd: 421, Crm Cd Desc: THEFT FROM MOTOR VEHICLE - ATTEMPT
Crm Cd: 651, Crm Cd Desc: DOCUMENT WORTHLESS ($200.01 & OVER)
Crm Cd: 920, Crm Cd Desc: KIDNAPPING - GRAND ATTEMPT
Crm Cd: 351, Crm Cd Desc: PURSE SNATCHING
Crm Cd: 250, Crm Cd Desc: SHOTS FIRED AT MOVING VEHICLE, TRAIN OR AIRCRAFT
Crm Cd: 441, Crm Cd Desc: THEFT PLAIN - ATTEMPT
Crm Cd: 954, Crm Cd Desc: CONTRIBUTING
Crm Cd: 487, Crm Cd Desc: BOAT - STOLEN
Crm Cd: 928, Crm Cd Desc: THREATENING PHONE CALLS/LETTERS
Crm Cd: 235, Crm Cd Desc: CHILD ABUSE (PHYSICAL) - AGGRAVATED ASSAULT
Crm Cd: 806, Crm Cd Desc: PANDERING
Crm Cd: 944, Crm Cd Desc: CONSPIRACY
Crm Cd: 353, Crm Cd Desc: DRUNK ROLL
Crm Cd: 450, Crm Cd Desc: THEFT FROM PERSON - ATTEMPT
Crm Cd: 347, Crm Cd Desc: GRAND THEFT / INSURANCE FRAUD
Crm Cd: 470, Crm Cd Desc: TILL TAP - GRAND THEFT ($950.01 & OVER)
Crm Cd: 949, Crm Cd Desc: ILLEGAL DUMPING
Crm Cd: 653, Crm Cd Desc: CREDIT CARDS, FRAUD USE ($950.01 & OVER)
Crm Cd: 942, Crm Cd Desc: BRIBERY
Crm Cd: 951, Crm Cd Desc: DEFRAUDING INNKEEPER/THEFT OF SERVICES, $950 & UNDER
Crm Cd: 805, Crm Cd Desc: PIMPING
Crm Cd: 931, Crm Cd Desc: REPLICA FIREARMS(SALE,DISPLAY,MANUFACTURE OR DISTRIBUTE)
Crm Cd: 950, Crm Cd Desc: DEFRAUDING INNKEEPER/THEFT OF SERVICES, OVER $950.01
Crm Cd: 445, Crm Cd Desc: DISHONEST EMPLOYEE ATTEMPTED THEFT
Crm Cd: 865, Crm Cd Desc: DRUGS, TO A MINOR
Crm Cd: 345, Crm Cd Desc: DISHONEST EMPLOYEE - GRAND THEFT
Crm Cd: 660, Crm Cd Desc: COUNTERFEIT
Crm Cd: 870, Crm Cd Desc: CHILD ABANDONMENT
Crm Cd: 948, Crm Cd Desc: BIGAMY
Crm Cd: 473, Crm Cd Desc: THEFT, COIN MACHINE - GRAND ($950.01 & OVER)
Crm Cd: 652, Crm Cd Desc: DOCUMENT WORTHLESS ($200 & UNDER)
Crm Cd: 444, Crm Cd Desc: DISHONEST EMPLOYEE - PETTY THEFT
Crm Cd: 884, Crm Cd Desc: FAILURE TO DISPERSE
Crm Cd: 924, Crm Cd Desc: TELEPHONE PROPERTY - DAMAGE
Crm Cd: 451, Crm Cd Desc: PURSE SNATCHING - ATTEMPT
Crm Cd: 435, Crm Cd Desc: LYNCHING
Crm Cd: 475, Crm Cd Desc: THEFT, COIN MACHINE - ATTEMPT
Crm Cd: 830, Crm Cd Desc: INCEST (SEXUAL ACTS BETWEEN BLOOD RELATIVES)
Crm Cd: 926, Crm Cd Desc: TRAIN WRECKING
Crm Cd: 471, Crm Cd Desc: TILL TAP - PETTY ($950 & UNDER)
Crm Cd: 453, Crm Cd Desc: DRUNK ROLL - ATTEMPT
Crm Cd: 452, Crm Cd Desc: PICKPOCKET, ATTEMPT
Crm Cd: 880, Crm Cd Desc: DISRUPT SCHOOL

In [20]:
violent_crime_codes = ['110', '113', '121', '122', '815', '820', '821', '210', '220', '230', '231', '235', '236', '250', '251', '761', '926']

In [21]:
violent_crime_keywords = ['WEAPON', 'ASSAULT', 'ROBBERY', 'FALSE IMPRISONMENT', 'HOMICIDE', 'BATTERY', 'ABUSE', 'CHILD STEALING', 'HUMAN TRAFFICKING', 'RIOT', 'SHOTS FIRED', 'PENETRATION', 'STALKING', 'CHILD PORNOGRAPHY', 'NEGLECT', 'CRUELTY', 'RAPE', 'KIDNAPPING', 'BOMB SCARE', 'LYNCHING', 'THREATENING', 'CHILD ABUSE']

In [22]:
recent_year_df.loc[:, 'Classification'] = np.where(
    recent_year_df['Crm Cd Desc'].str.contains('|'.join(violent_crime_keywords), case=False, na=False),
    'Violent',
    'Non-Violent'
)

C:\Users\hebir\AppData\Local\Temp\ipykernel_8400\179397421.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  recent_year_df.loc[:, 'Classification'] = np.where(

In [23]:
recent_year_df

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON,Date Occurred,Classification
644791,230618504,12/01/2023 12:00:00 AM,12/01/2023 12:00:00 AM,110,6,Hollywood,639,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,...,626.0,NaN,NaN,NaN,5400 RUSSELL AV,NaN,34.1042,-118.3072,2023-12-01,Violent
644792,242105761,02/13/2024 12:00:00 AM,12/17/2023 12:00:00 AM,730,21,Topanga,2149,1,210,ROBBERY,...,210.0,NaN,NaN,NaN,6600 QUARTZ AV,NaN,34.1917,-118.5641,2023-12-17,Violent
644793,230617683,11/10/2023 12:00:00 AM,11/08/2023 12:00:00 AM,800,6,Hollywood,663,2,662,"BUNCO, GRAND THEFT",...,662.0,NaN,NaN,NaN,1200 SEWARD ST,NaN,34.0907,-118.3384,2023-11-08,Non-Violent
644796,230514872,10/19/2023 12:00:00 AM,10/19/2023 12:00:00 AM,1520,5,Harbor,522,1,761,BRANDISH WEAPON,...,761.0,NaN,NaN,NaN,600 N NEPTUNE AV,NaN,33.7795,-118.2715,2023-10-19,Violent
644799,231225821,12/30/2023 12:00:00 AM,12/29/2023 12:00:00 AM,2200,12,77th Street,1251,1,510,VEHICLE - STOLEN,...,510.0,NaN,NaN,NaN,7800 CRENSHAW BL,NaN,33.9691,-118.3309,2023-12-29,Non-Violent
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
986495,242011172,08/20/2024 12:00:00 AM,08/17/2024 12:00:00 AM,2300,20,Olympic,2033,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",...,341.0,NaN,NaN,NaN,3700 WILSHIRE BL,NaN,34.0617,-118.3066,2024-08-17,Non-Violent
986496,240710284,07/24/2024 12:00:00 AM,07/23/2024 12:00:00 AM,1400,7,Wilshire,788,1,510,VEHICLE - STOLEN,...,510.0,NaN,NaN,NaN,4000 W 23RD ST,NaN,34.0362,-118.3284,2024-07-23,Non-Violent
986497,240104953,01/15/2024 12:00:00 AM,01/15/2024 12:00:00 AM,100,1,Central,101,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,745.0,NaN,NaN,NaN,1300 W SUNSET BL,NaN,34.0685,-118.2460,2024-01-15,Non-Violent
986498,240309674,04/24/2024 12:00:00 AM,04/24/2024 12:00:00 AM,1500,3,Southwest,358,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,230.0,NaN,NaN,NaN,FLOWER ST,JEFFERSON BL,34.0215,-118.2868,2024-04-24,Violent
986499,240910892,08/13/2024 12:00:00 AM,08/12/2024 12:00:00 AM,2300,9,Van Nuys,914,1,510,VEHICLE - STOLEN,...,510.0,NaN,NaN,NaN,6900 VESPER AV,NaN,34.1961,-118.4510,2024-08-12,Non-Violent

In [24]:
unique_locations = recent_year_df['Premis Desc'].unique
print(unique_locations)

<bound method Series.unique of 644791    MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)
644792                          SINGLE FAMILY DWELLING
644793    MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)
644796                                  GARAGE/CARPORT
644799                                          STREET
                              ...
986495                          BAR/COCKTAIL/NIGHTCLUB
986496                                          STREET
986497                                           HOTEL
986498                                        SIDEWALK
986499                                     PARKING LOT
Name: Premis Desc, Length: 159711, dtype: object>

In [25]:
def assign_location(premis_desc):
    if isinstance(premis_desc, str):  # Check if the value is a string
        if 'DWELLING' in premis_desc:
            return 'Home'
        elif 'RESIDENCE' in premis_desc:
            return 'Home'
        elif 'WEBSITE' in premis_desc:
            return 'Online'
        elif 'ONLINE' in premis_desc:
            return 'Online'
        else:
            return 'Public'

In [26]:
recent_year_df.loc[:, 'Location Type'] = recent_year_df['Premis Desc'].apply(assign_location)

C:\Users\hebir\AppData\Local\Temp\ipykernel_8400\1414386483.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  recent_year_df.loc[:, 'Location Type'] = recent_year_df['Premis Desc'].apply(assign_location)

In [27]:
recent_year_df.columns = recent_year_df.columns.str.strip()

In [28]:
recent_year_df

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON,Date Occurred,Classification,Location Type
644791,230618504,12/01/2023 12:00:00 AM,12/01/2023 12:00:00 AM,110,6,Hollywood,639,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,...,NaN,NaN,NaN,5400 RUSSELL AV,NaN,34.1042,-118.3072,2023-12-01,Violent,Home
644792,242105761,02/13/2024 12:00:00 AM,12/17/2023 12:00:00 AM,730,21,Topanga,2149,1,210,ROBBERY,...,NaN,NaN,NaN,6600 QUARTZ AV,NaN,34.1917,-118.5641,2023-12-17,Violent,Home
644793,230617683,11/10/2023 12:00:00 AM,11/08/2023 12:00:00 AM,800,6,Hollywood,663,2,662,"BUNCO, GRAND THEFT",...,NaN,NaN,NaN,1200 SEWARD ST,NaN,34.0907,-118.3384,2023-11-08,Non-Violent,Home
644796,230514872,10/19/2023 12:00:00 AM,10/19/2023 12:00:00 AM,1520,5,Harbor,522,1,761,BRANDISH WEAPON,...,NaN,NaN,NaN,600 N NEPTUNE AV,NaN,33.7795,-118.2715,2023-10-19,Violent,Public
644799,231225821,12/30/2023 12:00:00 AM,12/29/2023 12:00:00 AM,2200,12,77th Street,1251,1,510,VEHICLE - STOLEN,...,NaN,NaN,NaN,7800 CRENSHAW BL,NaN,33.9691,-118.3309,2023-12-29,Non-Violent,Public
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
986495,242011172,08/20/2024 12:00:00 AM,08/17/2024 12:00:00 AM,2300,20,Olympic,2033,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",...,NaN,NaN,NaN,3700 WILSHIRE BL,NaN,34.0617,-118.3066,2024-08-17,Non-Violent,Public
986496,240710284,07/24/2024 12:00:00 AM,07/23/2024 12:00:00 AM,1400,7,Wilshire,788,1,510,VEHICLE - STOLEN,...,NaN,NaN,NaN,4000 W 23RD ST,NaN,34.0362,-118.3284,2024-07-23,Non-Violent,Public
986497,240104953,01/15/2024 12:00:00 AM,01/15/2024 12:00:00 AM,100,1,Central,101,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,NaN,NaN,NaN,1300 W SUNSET BL,NaN,34.0685,-118.2460,2024-01-15,Non-Violent,Public
986498,240309674,04/24/2024 12:00:00 AM,04/24/2024 12:00:00 AM,1500,3,Southwest,358,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,NaN,NaN,NaN,FLOWER ST,JEFFERSON BL,34.0215,-118.2868,2024-04-24,Violent,Public
986499,240910892,08/13/2024 12:00:00 AM,08/12/2024 12:00:00 AM,2300,9,Van Nuys,914,1,510,VEHICLE - STOLEN,...,NaN,NaN,NaN,6900 VESPER AV,NaN,34.1961,-118.4510,2024-08-12,Non-Violent,Public

In [29]:
#Exporting the updated dataframe to a CSV
recent_year_df.to_csv('cleaned2.csv')

PermissionError: [Errno 13] Permission denied: 'cleaned2.csv'

In [ ]:
#Writing the dataframe to SQLite
recent_year_df.to_sql('Cleaned_2', con=engine, if_exists='replace', index=False)

In [ ]:
#Querying the SQLite database to verify the data
with engine.connect() as connection:
    result = connection.execute(text("SELECT * FROM Cleaned_2 LIMIT 5;"))
    df_result = pd.DataFrame(result.fetchall(), columns=result.keys())

In [31]:
conn = sqlite3.connect('your_database.db')

In [32]:
tables_query = "SELECT name FROM sqlite_master WHERE type='table';"
tables_df = pd.read_sql_query(tables_query, conn)
print("Tables in the database:")
print(tables_df)

Tables in the database:
        name
0  Cleaned_2

In [33]:
data_query = "SELECT * FROM Cleaned_2;"
data_df = pd.read_sql_query(data_query, conn)

In [34]:
print("Contents of the 'Cleaned_2' table:")
print(data_df)

Contents of the 'Cleaned_2' table:
            DR_NO               Date Rptd                DATE OCC  TIME OCC  \
0       230618504  12/01/2023 12:00:00 AM  12/01/2023 12:00:00 AM       110
1       242105761  02/13/2024 12:00:00 AM  12/17/2023 12:00:00 AM       730
2       230617683  11/10/2023 12:00:00 AM  11/08/2023 12:00:00 AM       800
3       230514872  10/19/2023 12:00:00 AM  10/19/2023 12:00:00 AM      1520
4       231225821  12/30/2023 12:00:00 AM  12/29/2023 12:00:00 AM      2200
...           ...                     ...                     ...       ...
159706  242011172  08/20/2024 12:00:00 AM  08/17/2024 12:00:00 AM      2300
159707  240710284  07/24/2024 12:00:00 AM  07/23/2024 12:00:00 AM      1400
159708  240104953  01/15/2024 12:00:00 AM  01/15/2024 12:00:00 AM       100
159709  240309674  04/24/2024 12:00:00 AM  04/24/2024 12:00:00 AM      1500
159710  240910892  08/13/2024 12:00:00 AM  08/12/2024 12:00:00 AM      2300

        AREA    AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
0          6    Hollywood          639         2     626
1         21      Topanga         2149         1     210
2          6    Hollywood          663         2     662
3          5       Harbor          522         1     761
4         12  77th Street         1251         1     510
...      ...          ...          ...       ...     ...
159706    20      Olympic         2033         1     341
159707     7     Wilshire          788         1     510
159708     1      Central          101         2     745
159709     3    Southwest          358         1     230
159710     9     Van Nuys          914         1     510

                                              Crm Cd Desc  ... Crm Cd 2  \
0                       INTIMATE PARTNER - SIMPLE ASSAULT  ...      NaN
1                                                 ROBBERY  ...      NaN
2                                      BUNCO, GRAND THEFT  ...      NaN
3                                         BRANDISH WEAPON  ...      NaN
4                                        VEHICLE - STOLEN  ...      NaN
...                                                   ...  ...      ...
159706  THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...  ...      NaN
159707                                   VEHICLE - STOLEN  ...      NaN
159708           VANDALISM - MISDEAMEANOR ($399 OR UNDER)  ...      NaN
159709     ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT  ...      NaN
159710                                   VEHICLE - STOLEN  ...      NaN

        Crm Cd 3 Crm Cd 4                                 LOCATION  \
0            NaN      NaN  5400    RUSSELL                      AV
1            NaN      NaN  6600    QUARTZ                       AV
2            NaN      NaN  1200    SEWARD                       ST
3            NaN      NaN   600 N  NEPTUNE                      AV
4            NaN      NaN  7800    CRENSHAW                     BL
...          ...      ...                                      ...
159706       NaN      NaN  3700    WILSHIRE                     BL
159707       NaN      NaN  4000 W  23RD                         ST
159708       NaN      NaN  1300 W  SUNSET                       BL
159709       NaN      NaN          FLOWER                       ST
159710       NaN      NaN  6900    VESPER                       AV

                           Cross Street      LAT       LON  \
0                                  None  34.1042 -118.3072
1                                  None  34.1917 -118.5641
2                                  None  34.0907 -118.3384
3                                  None  33.7795 -118.2715
4                                  None  33.9691 -118.3309
...                                 ...      ...       ...
159706                             None  34.0617 -118.3066
159707                             None  34.0362 -118.3284
159708                             None  34.0685 -118.2460
159709  JEFFERSON                    BL  34.0215 -118.2868
159710                             None  34.1961 -118.4510

                     Date Occurred Classification Location Type
0       2023-12-01 00:00:00.000000        Violent          Home
1       2023-12-17 00:00:00.000000        Violent          Home
2       2023-11-08 00:00:00.000000    Non-Violent          Home
3       2023-10-19 00:00:00.000000        Violent        Public
4       2023-12-29 00:00:00.000000    Non-Violent        Public
...                            ...            ...           ...
159706  2024-08-17 00:00:00.000000    Non-Violent        Public
159707  2024-07-23 00:00:00.000000    Non-Violent        Public
159708  2024-01-15 00:00:00.000000    Non-Violent        Public
159709  2024-04-24 00:00:00.000000        Violent        Public
159710  2024-08-12 00:00:00.000000    Non-Violent        Public

[159711 rows x 31 columns]

In [ ]:
conn.close()